In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# üìç Load dataset
data_path = "../data/unemployment_rates.csv"
df = pd.read_csv(data_path)

# üìÉ Check column names
print(df.columns.tolist())

# üìä Melt the wide table into long format
value_vars = df.columns[5:]  # from 5th column onwards (the date columns)
df_long = pd.melt(df, 
                  id_vars=['Region Name'], 
                  value_vars=value_vars, 
                  var_name='Date', 
                  value_name='Unemployment Rate')

# ‚úÖ Check transformed data
print(df_long.head())
print(df_long.info())

# üìÖ Convert Date to datetime
df_long['Date'] = pd.to_datetime(df_long['Date'])

# üîç Number of unique MSAs
print("Number of unique MSAs:", df_long['Region Name'].nunique())

# üìà Date range
print(f"Date range: {df_long['Date'].min()} to {df_long['Date'].max()}")

# üìâ Missing values
print(df_long.isnull().sum())

# üìä Distribution of Unemployment Rates
plt.figure(figsize=(10,5))
sns.histplot(df_long['Unemployment Rate'], bins=30, kde=True)
plt.title("Distribution of Unemployment Rates")
plt.xlabel("Unemployment Rate (%)")
plt.ylabel("Count")
plt.show()

# üìâ Example time series for a single MSA
example_msa = df_long['Region Name'].unique()[0]
msa_df = df_long[df_long['Region Name'] == example_msa].sort_values('Date')

plt.figure(figsize=(12,6))
plt.plot(msa_df['Date'], msa_df['Unemployment Rate'], marker='o')
plt.title(f"Unemployment Rate Over Time: {example_msa}")
plt.xlabel("Date")
plt.ylabel("Unemployment Rate (%)")
plt.xticks(rotation=45)
plt.grid(True)
plt.show()

# üìä Records per MSA
msa_counts = df_long['Region Name'].value_counts()
print(msa_counts.head(10))

['Series ID', 'Series Name', 'Units', 'Region Name', 'Region Code', '2015-05-01', '2015-06-01', '2015-07-01', '2015-08-01', '2015-09-01', '2015-10-01', '2015-11-01', '2015-12-01', '2016-01-01', '2016-02-01', '2016-03-01', '2016-04-01', '2016-05-01', '2016-06-01', '2016-07-01', '2016-08-01', '2016-09-01', '2016-10-01', '2016-11-01', '2016-12-01', '2017-01-01', '2017-02-01', '2017-03-01', '2017-04-01', '2017-05-01', '2017-06-01', '2017-07-01', '2017-08-01', '2017-09-01', '2017-10-01', '2017-11-01', '2017-12-01', '2018-01-01', '2018-02-01', '2018-03-01', '2018-04-01', '2018-05-01', '2018-06-01', '2018-07-01', '2018-08-01', '2018-09-01', '2018-10-01', '2018-11-01', '2018-12-01', '2019-01-01', '2019-02-01', '2019-03-01', '2019-04-01', '2019-05-01', '2019-06-01', '2019-07-01', '2019-08-01', '2019-09-01', '2019-10-01', '2019-11-01', '2019-12-01', '2020-01-01', '2020-02-01', '2020-03-01', '2020-04-01', '2020-05-01', '2020-06-01', '2020-07-01', '2020-08-01', '2020-09-01', '2020-10-01', '2020-11-01', '2020-12-01', '2021-01-01', '2021-02-01', '2021-03-01', '2021-04-01', '2021-05-01', '2021-06-01', '2021-07-01', '2021-08-01', '2021-09-01', '2021-10-01', '2021-11-01', '2021-12-01', '2022-01-01', '2022-02-01', '2022-03-01', '2022-04-01', '2022-05-01', '2022-06-01', '2022-07-01', '2022-08-01', '2022-09-01', '2022-10-01', '2022-11-01', '2022-12-01', '2023-01-01', '2023-02-01', '2023-03-01', '2023-04-01', '2023-05-01', '2023-06-01', '2023-07-01', '2023-08-01', '2023-09-01', '2023-10-01', '2023-11-01', '2023-12-01', '2024-01-01', '2024-02-01', '2024-03-01', '2024-04-01', '2024-05-01', '2024-06-01', '2024-07-01', '2024-08-01', '2024-09-01', '2024-10-01', '2024-11-01', '2024-12-01', '2025-01-01', '2025-02-01', '2025-03-01', '2025-04-01', '2025-05-01']
   Series ID                                        Series Name    Units  \
0  ABIL148UR  Unemployment Rate by Metropolitan Statistical ...  Percent
1  AKRO439UR  Unemployment Rate by Metropolitan Statistical ...  Percent
2  ALBA513UR  Unemployment Rate by Metropolitan Statistical ...  Percent
3  ALBA536UR  Unemployment Rate by Metropolitan Statistical ...  Percent
4  ALBU735UR  Unemployment Rate by Metropolitan Statistical ...  Percent

                   Region Name  Region Code  2015-05-01  2015-06-01  \
0                  Abilene, TX        10180         3.9         3.8
1                    Akron, OH        10420         5.0         4.9
2                   Albany, GA        10500         7.2         7.2
3  Albany-Schenectady-Troy, NY        10580         4.6         4.6
4              Albuquerque, NM        10740         6.3         6.3

   2015-07-01  2015-08-01  2015-09-01  ...  2024-08-01  2024-09-01  \
0         3.8         3.8         3.9  ...         3.5         3.5
1         4.8         4.8         4.9  ...         4.5         4.6
2         7.1         7.0         6.9  ...         4.3         4.3
3         4.5         4.4         4.4  ...         3.3         3.3
4         6.3         6.3         6.2  ...         4.1         4.1

   2024-10-01  2024-11-01  2024-12-01  2025-01-01  2025-02-01  2025-03-01  \
0         3.5         3.5         3.5         3.4         3.4         3.4
1         4.6         4.6         4.6         4.7         4.8         4.9
2         4.3         4.2         4.2         4.2         4.2         4.2
3         3.3         3.3         3.3         3.3         3.3         3.3
4         4.1         4.1         4.0         4.1         4.0         4.0

   2025-04-01  2025-05-01
0         3.4         3.4
1         5.0         5.1
2         4.2         4.2
3         3.2         3.2
4         4.0         4.0

[5 rows x 126 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 347 entries, 0 to 346
Columns: 126 entries, Series ID to 2025-05-01
dtypes: float64(121), int64(1), object(4)
memory usage: 341.7+ KB
None

KeyError: 'MSA'